/* We are creating a new mixin for for a larger than mobile phones screens */

@define-mixin atSmall {
    @media (min-width: 530px) {
        @mixin-content;
    }
}

@define-mixin atMedium {
    @media (min-width: 800px) {
        @mixin-content;
    }
}

@define-mixin atLarge {
    @media (min-width: 1010px) {
        @mixin-content;
    }
}

@define-mixin clearfix {
    &::after { /* 1 */
        content: "";
        clear: both;
        display: table;
    }
}


/* 1.Clearing the floating of the div with class 'row'

*/