.social-icons {
    text-align: center;
    
    &__icon {
        background-color: $mainOrange;
        display: inline-block;
        margin: 0 5px 5px 5px;
        width: 33%;
        height: 72px;
        position: relative; /* because we are making child positioned absolute, we are telling its parent to be positioned relative */
        
        @mixin atSmall {
          width: 72px;
          margin: 0 5px;  
        }
        
        .icon {
            display: block;
            position: absolute; /* centered */
            top: 50%; /* centered */
            left: 50%; /* centered */
            transform: translate(-50%, -50%); /* centered */ /* 1 */
        }
    }
}

/* 

1. Pull it back up half of its own height and push it back left half of its own width 

*/