

.wrapper {
    overflow: hidden; /* 2 */
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px; /* 3 */
    margin-left: auto; /* 1  */
    margin-right: auto; /* 1 */
    
    &--medium {
        max-width: 976px;
    }
    
    &--narrow {
        max-width: 470px;
    }
    
    &--no-padding-until-medium {
        padding-left: 0;
        padding-right: 0;
        
        @mixin atMedium {
            padding-left: 18px;
            padding-right: 18px; 
        }
    }
    
    &--no-padding-until-large {
        padding-left: 0;
        padding-right: 0;
        
        @mixin atLarge {
            padding-left: 18px;
            padding-right: 18px; 
        }
    }
    
    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
    
    &--b-margin{
        margin-bottom: 1rem;
        
        @mixin atSmall {
            margin-bottom: 3.875rem;
        }
    }
}

/*

1. Centers content vertically
2. Hides the overflow of its children elements
3.Because all our elements on our page are border-box type, we have to increase our max-width by padding right and left: 18 + 18

*/